* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.principal-container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-bottom: 20px;
}

/* Fomulario */
.Form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
}

.Form label{
    text-align: center;
    font-weight: 400;
    margin: 10px;
    font-size: 18px;
}

.Form input{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #dedede;
    font-size: 17px;
    color: rgb(5, 105, 172);
    
}

.Form input::placeholder{
    color: rgb(13, 66, 163);
}

.Form input:focus, input:active{
    outline: none;
    border: 2px solid rgb(18, 19, 19);
    
}

.Form-error input  {
    border: 2px solid rgb(236, 31, 4);
}

/* Tablas */
.container-table{
    height: 400px;
    overflow-y: scroll;
}

table{
    border-collapse: collapse;
}
table th{
   padding: 0px 20px 0px 20px;
   border-bottom: 2px solid #dedede;
   font-size: 20px;
}

table td{
    text-align: center;
    padding: 4px;
}

table tr:nth-child(even){
    background-color: rgba(221, 221, 221, 0.473);
}


/* Boton */

#btn-agregar{
    width: 50%;
    height: 12%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    background-color: rgb(19, 180, 230);
    transition: all .4 ease-out;
}

#btn-agregar:hover{
    background-color: rgb(13, 109, 138);
    transition: all .4 ease-out;
    cursor: pointer;
}


/* Btn eliminar */
.eliminar{
    color: red;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
